@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --color-bg: #000000;
    --color-text: #ffffff;
    --color-primary: #d1d5db; /* gray-300 */
    --color-neon-shadow: rgba(255, 255, 255, 0.6);
  }
}

